footer(class="has-background-light mt-6")
  div(class="container is-max-desktop pt-4 pb-4 is-flex is-justify-content-space-between")
    ul(class="footer-list")
      li(class="title is-5") Images
      li
        a(href="/image/images_list" class="title is-7") Images list
    h2 2024 Dmytro Kondrashov