header(class="has-background-light mb-4")
  nav(class="p-4")
    script.
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
        return undefined;
      }

      const token = getCookie('token');
      if (!token) {
        document.write('<a href="/auth/login" class="button is-link is-rounded">Login</a>');
      } else {
        document.write('<button class="button is-info is-rounded" onclick="navigateToImages(event)">Images</button>');
        document.write('<button class="button is-danger is-rounded" onclick="logout()">Logout</button>');
      }

    // JavaScript function to handle logout
    script.
      async function logout() {
        try {
          const response = await fetch('/auth/logout', {
            method: 'POST'
          });
          console.log(response);
          if (response.ok) {
            window.location.href = '/auth/login';
          } else {
            alert('Failed to log out.');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred while logging out.');
        }
      }

    // JavaScript function to handle navigation to images
    script.
      let isNavigating = false; 

      async function navigateToImages(event) {
        event.preventDefault();
        event.stopPropagation();

        if (isNavigating) return;
        isNavigating = true;

        try {
          const token = getCookie('token');
          const response = await fetch('/image/images_list', {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${token}`,
              'Content-Type': 'application/json',
            }
          });
          window.location.href = '/image/images_list';
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred while accessing images.');
        }
      }
