doctype html
html
  head
    title Login
    link(rel="stylesheet" href="/css/bulma.min.css")
  body(class="has-background-light is-flex is-align-items-center is-justify-content-center" style="min-height: 100vh;")
    div(class="box")
      form(action="/auth/login" method="post")
        h1(class="title has-text-centered") Login
        div(class="field")
          label(class="label" for="email") Email:
          div(class="control")
            input(class="input" type="text" name="email" id="email" placeholder="Enter your email")
        div(class="field")
          label(class="label" for="password") Password:
          div(class="control")
            input(class="input" type="password" name="password" id="password" placeholder="Enter your password")
        div(class="field is-grouped is-grouped-centered")
          div(class="control")
            button(class="button is-primary" type="submit") Login
