extends layout

block title
  title Upload

block content
  h1 Upload

  form(action="/image/upload" method="post" enctype="multipart/form-data" id="uploadForm")
    div
      label(for="image") Image:
      input(type="file" name="image" id="image")
    div
      button(type="button" onclick="uploadImage()") Upload

  script.
    function uploadImage() {  
      const fileInput = document.getElementById('image');
      const file = fileInput.files[0];
      const token = getCookie('token');
      
      if (file) {
        const formData = new FormData();
        console.log(token);
        formData.append('image', file);
        fetch('/image/upload', {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${token}`,
          },
          body: formData,
        })
        .then(response => response.json())
        .then(data => {
          window.location.href = '/image/images_list';
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Error uploading image');
        });
      } else {
        console.log('No file selected');
        alert('Please select a file to upload');
      }      
    }

  script.
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
      return undefined;
    }
